.search-results h2, #msg {
  padding: 0.5rem;
  background-color: #1b0914;
  display: inline-block; }

html, body, div, span, article, section,
h1, h2, h3, h4, h5, h6, p,
a, button,
ol, ul, li,
form, label, input,
header, footer, nav {
  margin: 0;
  padding: 0;
  font-size: 100%; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration-line: none; }

/*** general ***/
html {
  font-size: 62.5%; }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1.4rem;
  color: #fcf8f7; }

h1, h2 {
  font-size: 2rem;
  font-weight: 900; }

h2 {
  font-family: "PT Sans Caption", sans-serif; }

.wrapper {
  margin: 0 10rem; }

/** background image **/
header {
  background: url("../images/stormtroopers.jpg") no-repeat top left;
  background-size: cover;
  padding-bottom: 15rem; }

/*** navigation ***/
.logo {
  padding: 2rem 1rem 0 0;
  display: inline-block; }
  .logo img {
    width: 3rem;
    height: 3rem;
    float: left;
    margin-right: 0.5rem; }

nav ul {
  float: right;
  padding: 2.5rem 1rem 0 0; }
  nav ul li {
    display: inline-block;
    margin: 0 0.5rem; }

a {
  color: #fcf8f7; }

nav a:hover, .active a {
  color: #91306b; }

/** form **/
form {
  text-align: center;
  margin-top: 15rem; }
  form label {
    display: inline-block;
    margin-right: 33rem;
    background-color: #1b0914;
    background-size: 40rem;
    padding: 0.5rem; }
  form .search-box {
    margin: 0 auto;
    width: 65rem;
    height: 5rem;
    font-size: 2rem; }
  form input[type=search] {
    padding-right: 5rem;
    width: 60rem;
    height: 5rem;
    /* needed to avoid using default browser search box height */
    -webkit-appearance: none;
    float: left; }
  form .search-btn {
    width: 5rem;
    height: 5rem;
    margin: -5rem 5rem 0 0;
    float: right; }
    form .search-btn img {
      width: 4rem;
      height: 4rem; }

/** search results **/
.search-results h2 {
  margin-top: 4rem;
  margin-bottom: 2rem; }

#msg {
  margin: 3rem 0; }

.search-results {
  overflow: auto;
  position: relative; }
  .search-results button {
    padding: 2rem;
    margin: 5rem 40rem;
    background: #91306b;
    color: #1b0914;
    font-weight: 700;
    font-family: "PT Sans Caption", sans-serif;
    border-radius: 1rem;
    border-style: none; }

/* aiming for 3 column layout
*  fixed max-width means it becomes 4 columns on larger displays */
.search-results article {
  width: calc(100% / 3);
  float: left;
  padding: 0;
  margin: 1rem;
  font-family: "PT Sans Caption", sans-serif;
  background-color: #1b0914;
  max-width: 30rem; }
  .search-results article img {
    width: 30rem;
    height: 45rem; }
  .search-results article h3 {
    color: #91306b;
    font-size: 1.5rem;
    padding: 1rem 0 1rem 1rem;
    background-color: #1b0914; }
  .search-results article p {
    padding: 0 0 1rem 1rem;
    background-color: #1b0914; }

/*** footer ***/
footer {
  text-align: center;
  background-color: #1b0914;
  padding: 4rem 0;
  margin-top: 10rem; }
