.search-results h2, .search-results #msg {
  padding: 0.5rem;
  background-color: #1b0914; }

footer {
  margin-top: 1rem;
  text-align: center; }

.expanded-menu .logo, .expanded-menu form {
  position: absolute;
  left: -999rem; }

body, .expanded-menu ul, form, .search-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

html, body, div, span, article, section,
h1, h2, h3, h4, h5, h6, p,
a, button,
ol, ul, li,
form, label, input,
header, nav {
  margin: 0;
  padding: 0;
  font-size: 100%; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none; }

input[type=search] {
  /* needed to avoid using default browser search box height, appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/*** general ***/
/* sticky footer with flexbox solution adapted from 
 * https://css-tricks.com/couple-takes-sticky-footer/ */
html, body {
  height: 100%; }

header, .search-results {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

html {
  font-size: 62.5%; }

body {
  /* this is to have a sticky footer */
  font-family: "PT Sans", sans-serif;
  font-size: 1.4rem;
  color: #fcf8f7; }

h1, h2 {
  font-size: 2rem;
  font-weight: 900; }
  @media (min-width: 300px) and (max-width: 493px) {
    h1, h2 {
      font-size: 2.5rem; } }

h2 {
  font-family: "PT Sans Caption", sans-serif; }

.wrapper {
  margin: 0 10%; }

/** background image **/
header {
  background: url("../images/stormtroopers.jpg") no-repeat top left;
  background-size: cover;
  padding-bottom: 5%; }

/*** navigation ***/
.logo {
  padding: 2rem 1rem 0 0; }
  .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .logo a img {
      width: 3rem;
      height: 3rem;
      margin-right: 0.5rem; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    padding: 1.5rem 1rem 0 0; }
  nav li {
    margin: 0 0.5rem;
    padding-top: 1rem; }
  nav span {
    text-indent: -999rem; }

/* link text color */
a {
  color: #fcf8f7; }
  a:hover, .active a {
    color: #91306b; }

/* Hamburger menu on small screens */
@media (min-width: 300px) and (max-width: 493px) {
  .logo {
    margin: auto; }
  span {
    background: url("../images/HamburgerMenu.png") no-repeat top right;
    background-size: cover;
    width: 6rem;
    height: 6rem;
    margin-left: auto; }
  ul, li {
    display: none; } }

/* Expanded hamburger menu on small screens */
.expanded-menu {
  background: #1b0914;
  /* Move logo and search field off screen */
  /* Undo the text indent */ }
  .expanded-menu ul {
    text-indent: 0; }
  .expanded-menu li {
    font-size: 2.5rem;
    display: inherit; }
  .expanded-menu nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .expanded-menu .menu-icon {
    text-indent: -999rem;
    background: url("../images/CloseIcon.png") no-repeat top right;
    background-size: cover;
    width: 6rem;
    height: 6rem; }

/** form **/
form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15rem; }
  form label {
    background-color: #1b0914;
    padding: 0.5rem;
    margin-right: auto; }
  form .search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2rem;
    width: 100%;
    height: 5rem; }
  form input[type=search] {
    padding-right: 5rem;
    width: 100%;
    height: 5rem; }
  form .search-btn {
    width: 5rem;
    height: 5rem;
    margin-left: -5rem; }
    form .search-btn img {
      width: 4rem;
      height: 4rem; }

/* Small screen form layout in header */
/* Change form margin based on screen size */
@media (min-width: 300px) and (max-width: 493px) {
  form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem; }
    form label {
      font-size: 1.2rem; }
    form .search-box {
      font-size: 1.7rem; } }

@media (min-width: 494px) and (max-width: 899px) {
  form {
    margin-left: 8rem;
    margin-right: 8rem; } }

@media (min-width: 900px) {
  form {
    margin-left: 20rem;
    margin-right: 20rem; } }

/** search results **/
/* settings shared across screen sizes */
.search-results h2 {
  margin: 1rem 0; }

.search-results #msg {
  margin: 1rem 0;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.search-results button {
  padding: 2rem;
  margin: 2.5rem auto 1rem auto;
  background: #91306b;
  color: #1b0914;
  font-weight: 700;
  font-family: "PT Sans Caption", sans-serif;
  border-radius: 1rem;
  border-style: none; }

.search-results article {
  font-family: "PT Sans Caption", sans-serif;
  background-color: #1b0914; }
  .search-results article h3 {
    color: #91306b;
    font-size: 1.5rem;
    padding: 1rem 0 1rem 1rem; }
  .search-results article p {
    padding: 0 0 1rem 1rem; }

/* search results layout - small screens */
@media (min-width: 300px) and (max-width: 493px) {
  .search-results {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0; }
    .search-results article {
      margin: .6rem 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .search-results article img {
        width: 20%;
        height: 20%; }
    .search-results .text-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .search-results button {
      width: 90%; } }

/* search results layout for medium screens and up */
@media (min-width: 494px) {
  .movies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap; }
  article img {
    width: calc(100%); }
  .search-results h2 {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 4rem; } }

/* search results layout - medium screens */
@media (min-width: 494px) and (max-width: 899px) {
  .movies {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .movies > article {
    width: calc(50% - 1rem);
    margin: .5rem 1rem .5rem 0; } }

/* layout specific large screens */
@media (min-width: 900px) {
  .movies {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .movies > article {
    width: calc(33% - 2rem);
    margin: 1rem 2rem 1rem 0; }
  .search-results button {
    margin: 4rem auto 3rem auto; } }

/*** footer ***/
footer {
  background-color: #1b0914;
  padding: 4rem 0; }
