%search-heading {
    padding: 0.5rem;
    background-color: $main-bg-color;
}

// for adding top margin and centering text
%top-margin-center {
    margin-top: 1rem;
    text-align: center;
}

// to move elements off screen
%off-screen {
    position: absolute;
    left: -999rem;
}

%flex-column {
    display: flex;
    flex-direction: column;
}