$font-family-text: 'PT Sans', sans-serif;
$font-family-caption: 'PT Sans Caption', sans-serif;

$font-size-default: 1.4rem;
$font-size-heading: 2rem;

$text-color: #fcf8f7;
$main-bg-color: #1b0914;
$highlight-color: #91306b;