// general
html {
    font-size: 62.5%;
}

body {
    font-family: $font-family-text;
    font-size: $font-size-default;
    color: $text-color;
}

h1, h2 {
    font-size: $font-size-heading;
    font-weight: 900;
}

h2 {
    font-family: $font-family-caption;
}

.wrapper {
    margin: 0 10rem;
}

// background image
header {
    background: url('../../images/stormtroopers.jpg') 
        no-repeat top left;
    background-size: cover;
    padding-bottom: 15rem;
}

// navigation
.logo {
    padding: 2rem 1rem 0 0;
    display: inline-block;
    
    img {
        @include wh(3rem, 3rem);
        float: left;
        margin-right: 0.5rem;
    }
}

nav ul {
    float: right;
    padding: 2.5rem 1rem 0 0;


    li {
        display: inline-block;
        margin: 0 0.5rem;
    }
}

a {
    color: $text-color;
}

nav a:hover, .active a {
    color: $highlight-color;
}

// form
form {
    text-align: center;
    margin-top: 15rem;
    
    label {
        display: inline-block;
        margin-right: 33rem;
        background-color: $main-bg-color;
        background-size: 40rem;
        padding: 0.5rem;
    }
    
    .search-box {
        margin: 0 auto;
        @include wh(65rem, 5rem);
        font-size: $font-size-heading;
    }
    
    input[type=search] {
        padding-right: 5rem;
        @include wh(60rem, 5rem);
        
        /* needed to avoid using default browser search box height */
        -webkit-appearance: none;
        float: left;
    }    
    
    .search-btn {
        @include wh(5rem, 5rem);
        margin: -5rem 5rem 0 0;
        float: right;
    
        img {
            @include wh(4rem, 4rem);
        }
    }
}


// search results
.search-results {
    padding: 0;
    background-color: $main-bg-color;
    display: inline-block;
}


// footer
footer {
    text-align: center;
    background-color: $main-bg-color;
    padding: 4rem 0;
    margin-top: 10rem;
}