/*** general ***/
/* sticky footer with flexbox solution adapted from 
 * https://css-tricks.com/couple-takes-sticky-footer/ */
html, body {
    height: 100%;
}
header, .search-results {
    flex: 1 0 auto;
}

html {
    font-size: 62.5%;
}

body {
    /* this is to have a sticky footer */
    display: flex;
    flex-direction: column;
    
    font-family: $font-family-text;
    font-size: $font-size-default;
    color: $text-color;
    
    @include mq(small) {
        font-size: $font-size-small;
    }
}

h1, h2 {
    font-size: $font-size-heading;
    font-weight: 900;
    
    @include mq(small) {
        font-size: $font-size-small-h;
    }
}

h2 {
    font-family: $font-family-caption;
}

.wrapper {
    margin: 0 10%;
}


/** background image **/
header {
    background: url('../images/stormtroopers.jpg') 
        no-repeat top left;
    background-size: cover;
   // padding-bottom: 15rem;
    
    @include mq(small) {
        background-size: cover;
        padding-bottom: 5%;
    }
}

/*** navigation ***/
.logo {
    padding: 2rem 1rem 0 0;
    
    a {
        display: flex;
        img {
            @include wh(3rem, 3rem);
            margin-right: 0.5rem;
        }
    }
}

@include mq(small) {
    nav {
        display: flex;
    }
    
    .logo {
        margin: auto;
    }
    
    span {
        text-indent: -999rem;
        background: url('../images/HamburgerMenu.png')
            no-repeat top right;
        background-size: cover;
        @include wh(6rem, 6rem);
        // keep it to the right in the nav bar
        margin-left: auto;
    }
    ul {
        text-indent: -999rem;
    }
}

nav {
    //display: flex;
}

nav ul {
   // text-indent: -999rem;
   // display: flex;
    //justify-content: flex-end;
   // padding: 2.5rem 1rem 0 0;


    li {
      //  display: inline-block;
       // margin: 0 0.5rem;
    }
}

.expanded-menu {
    background: $main-bg-color;

    /* Move logo and search field off screen */
    .logo {
        position: absolute;
        left: -999rem;
    }
    form {
        position: absolute;
        left: -999rem;
    }
    
    /* Undo the text indent */
    ul {
        display: flex;
        flex-direction: column;
        text-indent: 0;
    }
    
    li {
        font-size: $font-size-small-h;
    }
    
    nav {
        flex-direction: column;
        align-items: flex-end;
    }
    .menu-icon {
        text-indent: -999rem;
        background: url('../images/CloseIcon.png')
            no-repeat top right;
        background-size: cover;
        @include wh(6rem, 6rem);
    }
}

a {
    color: $text-color;
}

nav a:hover, .active a {
    color: $highlight-color;
}

/** form **/

form {
 //   @extend %top-margin-center;
    
    label {
      //  display: inline-block;
       // margin-right: 33rem;
        background-color: $main-bg-color;
       // background-size: 40rem;
        padding: 0.5rem;
    }
    
    .search-box {
      //  margin: 0 auto;
       // @include wh(65rem, 5rem);
        font-size: $font-size-heading;
    }
    
    input[type=search] {
       // padding-right: 5rem;
     //   @include wh(60rem, 5rem);
        
        /* needed to avoid using default browser search box height */

        -webkit-appearance: none;
       // float: left;
    }    
    
    .search-btn {
        @include wh(5rem, 5rem);
        //margin: -5rem 5rem 0 0;
       // float: right;
    
        img {
            @include wh(4rem, 4rem);
        }
    }
}


// Small screen form layout in header
@include mq(small) {
    form {
        margin-top: 7%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
          
        label {
       // margin-right: 0;
        font-size: $font-size-small;
        }
        
        .search-box {
            display: flex;
        }
        
        input[type=search] {
            padding-right: 5rem;
            @include wh(100%, 5rem);
        }
        .search-btn {
            margin: 0 0 0 -5rem;
        }
    }
        
}


/** search results **/
.search-results h2 {
    @extend %search-heading;
    margin-top: 4%;
    margin-bottom: 2%;

}

#msg {
    @extend %search-heading;
    margin: 4% 0;
}

.search-results {
   // overflow: auto;
    //position: relative;
    
    button {
        padding: 2rem;
       // margin: 5rem 37rem;
        
        background: $highlight-color;
        color: $main-bg-color;
        
        font-weight: 700;
        font-family: $font-family-caption;
        
        border-radius: 1rem;
        border-style: none;
    }
}

@include mq(small) {
    .search-results {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        
        article {
            margin: 2% 5%;
            display: flex;
            
            img {
                @include wh(20%, 20%);
            }
        }
        .text-container {
            display: flex;
            flex-direction: column;
        }
        
        button {
            margin: 7% auto 2% auto;
            width: 90%;
        }
    }
}

/* aiming for 3 column layout
*  fixed max-width means it becomes 4 columns on larger displays */
.search-results article {
  //  width: calc(100% / 3);
//    float: left;
    padding: 0;
  //  margin: 1rem 1rem 1rem 0;
    font-family: $font-family-caption;
    background-color: $main-bg-color;
//    max-width: 30rem;
    
    img {
      //  @include wh(30rem, 45rem);
    }
    
    h3 {
        color: $highlight-color;
        font-size: 1.5rem;
        padding: 1rem 0 1rem 1rem;
        background-color: $main-bg-color;
    }
    
    p {
        padding: 0 0 1rem 1rem;
        background-color: $main-bg-color;
    }
}

/*** footer ***/
footer {
    background-color: $main-bg-color;
    padding: 4rem 0;
    @extend %top-margin-center;
}
